html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

h1 {
    color: teal;
    font-size: 600%;
    padding-top: 10%;
}
p {
    font-size: xx-large;
}