h1 {
    font-family: 'Orbitron', 'Tofu', 'Comic Sans', 'Open Sans', sans-serif;
}

footer {
    margin-top: 7.4%;
    font-size: small;
}

.outer-container {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-image {
    object-fit: contain;

}
.social-img {
    width: 0.2rem;
}

.text-social {
    flex:auto;
    flex-direction: column;
}

    .gay {
        background: #ff2a2a;
        animation: gayRainbow 5s linear infinite;
        filter: hue-rotate(0deg);
    }

    @keyframes gayRainbow {
        from {
            filter: hue-rotate(0deg);
        }
        to {
            filter: hue-rotate(360deg);
        }
    }

@media (orientation: landscape) {
    .outer-container {
        display: flex;
    }

    .text-section {
        padding-left: 40px;
    }
    .home-image {
        height: 350px;
        width: 350px;
    }
    h1 {
        font-size: 70px;
    }

    p {
        font-size: larger;
    }

    .social-img {
        height: 50px;
    }
}

@media (orientation: portrait) {
    .outer-container {
        display: block;
    }

    .content-container {
        flex-direction: column;
    }

    .text-section {
        padding-left: 0;
        padding-top: 20px;
    }
    .home-image {
        height: 75%;
        width:75%;
        padding-left: 12.5%;
    }
    h1 {
        font-size: 140px;
        text-align: center;
    }
    p {
        font-size: 210%;
        text-align: center;
    }

    .social-img {
        height: 200px;
    }

    .social {
        padding-left: 18%;
    }
}