h1 {
    font-family: 'Orbitron', 'Tofu', 'Comic Sans', 'Open Sans', sans-serif;
}

footer {
    margin-top: 7.4%;
    font-size: small;
}

.outer-container {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-image {
    object-fit: contain;

}
.social-img {
    width: auto;
    height: 100%;
    text-decoration: none;
}

.text-social {
    flex:auto;
    flex-direction: column;
}

.gay {
    fill: hsl(0,100%,58%);
    animation: gayRainbow 5s linear infinite;
    filter: hue-rotate(0deg);
}

@keyframes gayRainbow {
    from {
        filter: hue-rotate(0deg);
        --gay-color:hsl(0,100%,58%);
    }
    to {
        filter: hue-rotate(360deg);
        --gay-color:hsl(360,100%,58%);
    }
}

@media (orientation: landscape) {
    .outer-container {
        display: flex;
    }

    .text-section {
        padding-left: 40px;
    }
    .home-image {
        height: 350px;
        width: 350px;
    }
    h1 {
        font-size: 70px;
    }

    p {
        font-size: larger;
    }

    .social {
        height: 2rem;
    }
}

@media (orientation: portrait) {
    .outer-container {
        display: block;
    }

    .content-container {
        flex-direction: column;
    }

    .text-section {
        padding-left: 0;
        padding-top: 20px;
    }
    .home-image {
        height: 75%;
        width:75%;
        padding-left: 12.5%;
    }
    h1 {
        font-size: 140px;
        text-align: center;
    }
    p {
        font-size: 210%;
        text-align: center;
    }

    .social {
        height: 8rem;
        padding-left: 18%;
    }
}