body {
    background-image: url("images/website_bg.png");
    font-family: 'Comic Sans', 'Open Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    background-size: cover;
}
p {
    color: #ffffff;
    font-size: larger;
}
h1 {
    color: #ffffff;
    font-size: 70px;
}
footer {
    color: #ffffff;
    text-align: center;
    margin-top: 11%;
    font-size: small;
}
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 95%;
    margin-top: -3.5%;
    display: flex;
    text-align: right;
}
ul.menu li {
    margin-right: 10px;
    color: #ffffff;
}
a.menu-link {
    color: #ffffff;
    text-decoration: none;
}
img.logo {
    margin-top: -1%;
}