.container {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.allowed {
    color: limegreen;
}

ul.allow-list-force li {
    color: limegreen;
}

ul.deny-list li {
    color: red;
}

.denied {
    color: red;
}

.mixed {
    color: goldenrod;
}

.note {
    text-decoration: none;
    color: aqua;
}

@media (orientation: landscape) {
    .outer-container {
        display: flex;
    }

    h1 {
        font-size: 52px;
    }

    h2 {
        font-size: 35px;
    }

    ul li {
        font-size: larger;
    }
}

@media (orientation: portrait) {
    .container {
        display: block;
    }

    .content {
        flex-direction: column;
    }

    h1 {
        font-size: 105px;
    }

    h2 {
        font-size: 70px;
    }

    ul li {
        font-size: 210%;
    }
}